.table-assets-container {
  text-align: left;
  margin-left: 1.5em;
}

.table__header {
  color: black;
  font-weight: bold;
  font-size: 1.7em;
  text-align: left;
  margin-left: 0.5em;
}
.asset-row {
  padding: 0.7em;
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  margin-right: 1.5em;
  width: 95%;
  font-size: 1.3em;
}

.asset__name {
  width: 300px;
  color: black;

  font-weight: bold;
}

.asset__price {
  width: 100px;
}

.asset__profit {
  width: 100px;
}

.positive__profit {
  width: 100px;
  color: green;
  font-weight: bold;
}

.negative__profit {
  width: 100px;
  color: red;
  font-weight: bold;
}

.asset__value {
  width: 100px;
}

.asset__amount {
  width: 100px;
}

.asset__cost {
  width: 100px;
}

.asset-delete__btn {
  margin-left: 3em;
  width: 50px;
}
