.container-data {
  background-color: white;
  margin-top: 3rem;
  position: absolute;
  left: 10%;
  width: 1000px;
  border-radius: 25px;
  border: 2px solid lightgray;
}

.name-return__row {
  margin: 25px;
  display: flex;
  align-items: center;
  width: 900px;
  border-bottom: 2px solid lightgray;
}

.name-hd__data {
  width: 200px;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.positive__return {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
  color: green;
}
.negative__return {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
  color: red;
}

.roi__return {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.image-data-container {
  display: flex;
}

.image-investment {
  margin-top: 10px;
}

.w-img {
  width: 300px;
  margin-right: 100px;
  margin-left: 50px;
}

.data-colum {
  width: 400px;
}
.investment-wrapper {
  display: flex;
  padding: 1rem;
}

.investment__label {
  width: 400px;
  font-size: 1rem;
}

.investment__data {
  font-size: 1.2rem;
  width: 200px;
  font-weight: bold;
}

.investment-edit__btn {
  width: 70px;
  height: 40px;
  background-color: #0b14e0;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.investment-delete__btn {
  width: 70px;
  height: 40px;
  background-color: red;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .container-data {
    width: 650px;
  }
  .name-return__row {
    width: 600px;
  }
  .image-data-container {
    flex-direction: column;
  }
  .data-colum {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .container-data {
    width: 450px;
  }
  .name-return__row {
    width: 400px;
  }
  .name-hd__data {
    font-size: 1.5rem;
    width: 120px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .positive__return {
    font-size: 1.5rem;

    margin-left: 2rem;
  }
  .negative__return {
    font-size: 1rem;

    margin-left: 1rem;
  }

  .roi__return {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .image-data-container {
    flex-direction: column;
  }
  .data-colum {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 650px) {
  .container-data {
    width: 90%;
    left: 5%;
  }
  .name-return__row {
    width: 80%;
    flex-direction: column;
  }

  .name-hd__data {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .positive__return {
    font-size: 1.2rem;

    margin-left: 0rem;
  }
  .negative__return {
    font-size: 1rem;

    margin-left: 0rem;
  }
  .investment__label {
    width: 150px;
    font-size: 1rem;
  }

  .investment__data {
    font-size: 1rem;
    width: 200px;
    font-weight: bold;
  }
  .w-img {
    width: 150px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
