.container-data {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;

  max-width: 700px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.name-return__row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-evenly;
}

.name-hd__data {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
}

.positive__return {
  font-size: 1.5rem;
  font-weight: bold;

  color: green;
}
.negative__return {
  font-size: 1.5rem;
  font-weight: bold;

  color: red;
}

.roi__return {
  font-size: 1.5rem;
  font-weight: bold;
}

.image-data-container {
  display: flex;
  flex-direction: column;
}

.image-investment {
  margin-top: 10px;
}

.w-img {
  width: 200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.data-colum {
  margin-right: 10px;
}
.investment-wrapper {
  display: flex;
  padding: 1rem;
}

.investment__label {
  width: 280px;
  font-size: 1rem;
}

.investment__data {
  font-size: 1.2rem;
  width: 200px;
  font-weight: bold;
  text-align: right;
}

.investment-edit__btn {
  width: 70px;
  height: 40px;
  background-color: lightgray;
  border-radius: 25px;
  border: none;
  color: black;
  font-weight: bold;
  margin: 20px;
}

.investment-delete__btn {
  width: 70px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 25px;
  border: none;
  color: black;
  font-weight: bold;
  margin: 20px;
}

@media only screen and (max-width: 1200px) {
  .investment__label {
    width: 200px;
  }
  .name-return__row {
    max-width: 500px;
    margin: 0.3rem;
  }
  .name-hd__data {
    font-size: 1.5rem;

    font-weight: bold;
  }

  .positive__return {
    font-size: 1.5rem;
  }
  .negative__return {
    font-size: 1.5rem;
  }

  .roi__return {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .image-data-container {
    flex-direction: column;
  }

  .w-img {
    width: 150px;
  }
}

@media only screen and (max-width: 740px) {
  .container-data {
    border: none;
  }

  .name-return__row {
    margin-top: 0rem;
  }

  .positive__return {
    font-size: 1rem;

    margin-left: 0rem;
  }
  .negative__return {
    font-size: 1rem;

    margin-left: 0rem;
  }
  .roi__return {
    font-size: 1rem;
  }
  .investment__label {
    width: 165px;
    font-size: 1rem;
  }

  .investment__data {
    font-size: 1rem;
    width: 140px;
    font-weight: bold;
    text-align: right;
  }
  .w-img {
    width: 150px;
  }
}
