.portfolio-assets-container {
  background: white;
  width: 750px;
  height: 320px;
  border-radius: 25px;
  border: 2px solid lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.asset-column {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  line-height: 1.9;
  width: 200px;
}

.assets__hd {
  font-size: 1rem;
}

.total__assets {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .portfolio-assets-container {
    width: 95%;
  }
}
