.portfolio-assets-container {
  background: white;
  width: 750px;
  height: 320px;
  border-radius: 25px;
  border: 2px solid lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.asset-column {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  line-height: 1.9;
  width: 200px;
}

.assets__hd {
  font-size: 1rem;
}

.total__assets {
  font-size: 1.5rem;
  margin-left: 4rem;
}

@media only screen and (max-width: 1400px) {
  .portfolio-assets-container {
    width: 95%;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .portfolio-assets-container {
    flex-direction: column;
    margin-left: 0.5rem;
    height: 440px;
  }
  .asset-column {
    margin-left: 55px;
    margin-top: 10px;
  }
}
