.summary-container {
  background: white;
  width: 650px;
  height: 320px;
  border-radius: 25px;
  border: 2px solid lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.yellowsun-img {
  height: 250px;
  width: 250px;
}

.portfolio-values {
  color: black;

  padding: 2em;
}

.porfolio-row {
  display: flex;
}

.porfolio-column {
  margin-right: 2em;
}

.portfolio__totavalue {
  font-size: 1.5rem;

  margin-bottom: 15px;
}

.portfolio__invested {
  font-size: 1.5rem;
}

.portfolio__profit {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.porfolio__ROI__positive {
  font-size: 1.5rem;
  color: green;
}

.porfolio__ROI__negative {
  font-size: 1.5rem;
  color: red;
}

.value-row {
  display: flex;
  line-height: 1.9;
}

.value__hd {
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .summary-container {
    width: 95%;
  }
}
