.summary-container {
  background: white;
  width: 700px;
  height: 320px;
  border-radius: 25px;
  border: 2px solid lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.yellowsun-img {
  height: 250px;
  width: 250px;
  filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.2));
}

.portfolio-values {
  color: black;
  margin-top: 1em;
}

.porfolio-row {
  display: flex;
}

.porfolio-column {
  margin-right: 2em;
  width: 140px;
  line-height: 1.5;
}

.portfolio__totavalue {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.portfolio__invested {
  font-size: 1.5rem;
}

.portfolio__profit {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.portfolio__ROI__positive {
  font-size: 1.5rem;
  color: green;
}

.portfolio__ROI__negative {
  font-size: 1.5rem;
  color: red;
}

.value-row {
  display: flex;
  line-height: 1.9;
}

.value__hd {
  font-size: 0.9rem;
}

.refresh-porfolio__btn {
  width: 100px;
  height: 25px;
  background-color: lightgray;
  border: none;
  border-radius: 25px;
  color: black;
  font-size: 13px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1400px) {
  .summary-container {
    width: 95%;
  }
}

@media only screen and (max-width: 650px) {
  .yellowsun-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 540px) {
  .summary-container {
    flex-direction: column;
    margin-left: 0.5rem;
    height: 400px;
  }
  .porfolio-column {
    margin-right: 0.5em;
    width: 140px;
  }
  .img-container {
    width: 100%;
    height: 170px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 9%,
      rgba(0, 0, 225, 1) 68%
    );
  }
  .yellowsun-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__totavalue {
    font-size: 1.4rem;
  }

  .portfolio__invested {
    font-size: 1.4rem;
  }

  .portfolio__profit {
    font-size: 1.4rem;
  }

  .portfolio__ROI__positive {
    font-size: 1.4rem;
  }

  .portfolio__ROI__negative {
    font-size: 1.4rem;
  }
}
