.login-page {
  height: 900px;
  width: 100%;
}

.login-info-container {
  position: fixed;
  top: 20%;
  left: 35%;
}

.login__header {
  font-size: 1.5em;
  font-weight: bold;
}

.create-account__text {
  margin-top: 40px;
  color: #0b14e0;
  font-size: 25px;
  font-weight: bold;
}

.signOut-user__btn {
  background-color: white;
  color: black;
  width: 300px;
  height: 25px;
}

.delete-account-btn {
  background-color: red;
  color: white;

  border: none;
  margin-top: 40px;
  width: 300px;
  height: 25px;
}
