.add-form {
  width: 95%;
}

.edit-form {
  width: 95%;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40%;
}

.form-buttons {
  display: flex;
}

.add-investment__btn {
  background-color: green;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: white;
  width: 306px;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 1rem;
}

.added-name {
  margin-top: 5px;
  font-weight: bold;
  color: green;
}

.reset-form__btn {
  background-color: yellow;
  font-size: 15px;
  border: none;
  color: black;
  width: 85px;
  height: 25px;
  margin-top: 35px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .form-container {
    left: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .form-container {
    left: 10%;
  }
}

@media only screen and (max-width: 350px) {
  .form-container {
    left: 5%;
  }
  input {
    width: 90%;
  }

  .add-investment__btn {
    width: 90%;
  }
}
