.portfolio-summaries {
  display: flex;
  margin-top: 10px;
  width: 95%;
}

.homepage-row {
  display: flex;
  align-items: center;
}

.homepage__hd {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.home-add__btn {
  width: 100px;
  height: 25px;
  background-color: green;
  border: none;
  color: white;
  margin-left: 2rem;
  border-radius: 25px;
  font-weight: bold;
  font-size: 13px;
}

@media only screen and (max-width: 1400px) {
  .portfolio-summaries {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  .portfolio-summaries {
    width: 100%;
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 720px) {
  .portfolio-summaries {
    display: flex;
    flex-direction: column;
  }
}
